## Hospital Financial Reports Explorer (Parquet Version)

In [1]:
# Import required libraries
import duckdb
import pandas as pd
import numpy as np
from pathlib import Path
import ipywidgets as widgets
from IPython.display import display, HTML
import warnings
warnings.filterwarnings('ignore')

# Set display options
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.float_format', '{:.2f}'.format)

print("‚úì Libraries imported successfully")

‚úì Libraries imported successfully

In [2]:
# Define parquet paths
DATA_ROOT = Path('data/db_parquets')

BALANCE_SHEET_PATH = str(DATA_ROOT / 'balance_sheet_long' / '**/*.parquet')
FUND_BALANCE_CHANGES_PATH = str(DATA_ROOT / 'fund_balance_changes_long' / '**/*.parquet')
REVENUE_PATH = str(DATA_ROOT / 'revenue_long' / '**/*.parquet')
REVENUE_EXPENSES_PATH = str(DATA_ROOT / 'revenue_expenses_long' / '**/*.parquet')
COSTS_A000_PATH = str(DATA_ROOT / 'costs_a000_long' / '**/*.parquet')
COSTS_B100_PATH = str(DATA_ROOT / 'costs_b100_long' / '**/*.parquet')

print(f"‚úì Data root: {DATA_ROOT}")
print(f"‚úì Parquet paths configured")

‚úì Data root: data\db_parquets
‚úì Parquet paths configured

In [3]:
# Get available hospitals and years from parquet files
con = duckdb.connect(':memory:')

# Get hospitals with their metadata
hospitals_df = con.execute(f"""
    SELECT DISTINCT 
        Provider_Number,
        State_Code
    FROM read_parquet('{BALANCE_SHEET_PATH}', hive_partitioning=1)
    ORDER BY Provider_Number
""").df()

# Get available fiscal years
years_df = con.execute(f"""
    SELECT DISTINCT Fiscal_Year
    FROM read_parquet('{BALANCE_SHEET_PATH}', hive_partitioning=1)
    ORDER BY Fiscal_Year DESC
""").df()

con.close()

print(f"‚úì Found {len(hospitals_df)} hospitals")
print(f"‚úì Fiscal years available: {', '.join(map(str, years_df['Fiscal_Year'].tolist()))}")

‚úì Found 104 hospitals
‚úì Fiscal years available: 2024, 2023, 2022, 2021, 2020

## Selection Controls

Select a hospital (CCN) and fiscal year to view financial reports.

In [4]:
# Create selection widgets
ccn_options = [(f"{row['Provider_Number']} - {row['State_Code']}", row['Provider_Number']) 
               for _, row in hospitals_df.iterrows()]

ccn_dropdown = widgets.Dropdown(
    options=ccn_options,
    description='Hospital CCN:',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='400px')
)

year_dropdown = widgets.Dropdown(
    options=[(str(year), year) for year in years_df['Fiscal_Year'].tolist()],
    description='Fiscal Year:',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='200px')
)

fund_dropdown = widgets.Dropdown(
    options=['General Fund', 'Specific Purpose Fund', 'Endowment Fund', 'Plant Fund'],
    value='General Fund',
    description='Fund Type:',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='300px')
)

display(widgets.HBox([ccn_dropdown, year_dropdown, fund_dropdown]))
print("\nüëÜ Select hospital, year, and fund type above")

HBox(children=(Dropdown(description='Hospital CCN:', layout=Layout(width='400px'), options=(('31300 - 31', np.‚Ä¶

üëÜ Select hospital, year, and fund type above

## Helper Functions

In [5]:
def format_millions(value):
    """Format value in millions with 2 decimals"""
    if pd.isna(value) or value == 0:
        return 0.00
    return round(value / 1e6, 2)

def style_dataframe(df):
    """Apply styling to dataframe for better readability"""
    return df.style.format({
        col: '{:.2f}' for col in df.select_dtypes(include=[np.number]).columns
    }).set_properties(**{
        'text-align': 'right'
    }, subset=df.select_dtypes(include=[np.number]).columns).set_properties(**{
        'text-align': 'left'
    }, subset=df.select_dtypes(include=['object']).columns)

print("‚úì Helper functions defined")

‚úì Helper functions defined

## 1Ô∏è‚É£ Balance Sheet

In [6]:
def get_balance_sheet(ccn, year, fund_type='General Fund'):
    """Get balance sheet for a specific hospital, year, and fund type"""
    con = duckdb.connect(':memory:')
    
    df = con.execute(f"""
        SELECT
            Acc_level1 as Category,
            Acc_level2 as Subcategory,
            Acc_name as Account,
            Line as Line_Number,
            Value
        FROM read_parquet('{BALANCE_SHEET_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
            AND Fiscal_Year = ?
            AND Column_name = ?
        ORDER BY Line
    """, [int(ccn), int(year), fund_type]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No balance sheet data found for CCN {ccn}, Year {year}, Fund {fund_type}")
        return None
    
    # Convert to millions
    df['Value ($ Millions)'] = df['Value'].apply(format_millions)
    df = df.drop('Value', axis=1)
    
    return df

# Get and display balance sheet
balance_sheet = get_balance_sheet(ccn_dropdown.value, year_dropdown.value, fund_dropdown.value)

if balance_sheet is not None:
    print(f"\nüìä Balance Sheet - {fund_dropdown.value}")
    print(f"CCN: {ccn_dropdown.value} | Fiscal Year: {year_dropdown.value}")
    print(f"Note: All amounts in millions (USD)")
    print(f"Total records: {len(balance_sheet):,}\n")
    display(style_dataframe(balance_sheet))

üìä Balance Sheet - General Fund
CCN: 31300 | Fiscal Year: 2024
Note: All amounts in millions (USD)
Total records: 32

In [7]:
def get_balance_sheet(ccn, year, fund_type='General Fund'):
    con = duckdb.connect(':memory:')
    
    df = con.execute(f"""
        SELECT
            *
        FROM read_parquet('{BALANCE_SHEET_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
            AND Fiscal_Year = ?
    """, [int(ccn), int(year)]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No balance sheet data found for CCN {ccn}, Year {year}, Fund {fund_type}")
        return None
    
    # Convert to millions
    df['Value ($ Millions)'] = df['Value'].apply(format_millions)
    df = df.drop('Value', axis=1)
    
    return df

# Get and display balance sheet
balance_sheet = get_balance_sheet(ccn_dropdown.value, year_dropdown.value, fund_dropdown.value)

balance_sheet

,Provider_Number,Year,Account_Name,NPI,Control_Type,Report_Status,FY_Begin,FY_End,Geographic_Code,Worksheet,Line,Column,Column_name,Acc_level1,Acc_level2,Acc_level3,Acc_name,Fiscal_Year,State_Code,Value ($ Millions)
0,31300,2024,General_Fund_BAL_ASSE_CURR_Accounts_receivable,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,00400,00100,General Fund,Balance,Assets,Current Assets,Accounts Receivable,2024,31,25.16
1,31300,2024,General_Fund_BAL_ASSE_CURR_Allowances_for_unco...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,00600,00100,General Fund,Balance,Assets,Current Assets,Allowances For Uncollectible Notes And Account...,2024,31,-17.70
2,31300,2024,General_Fund_BAL_ASSE_CURR_Cash_on_hand_and_in...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,00100,00100,General Fund,Balance,Assets,Current Assets,Cash On Hand And In Banks,2024,31,0.79
3,31300,2024,General_Fund_BAL_ASSE_CURR_Inventory,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,00700,00100,General Fund,Balance,Assets,Current Assets,Inventory,2024,31,1.14
4,31300,2024,General_Fund_BAL_ASSE_CURR_Other_receivables,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,00500,00100,General Fund,Balance,Assets,Current Assets,Other Receivables,2024,31,0.62
5,31300,2024,General_Fund_BAL_ASSE_CURR_Prepaid_expenses,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,00800,00100,General Fund,Balance,Assets,Current Assets,Prepaid Expenses,2024,31,0.43
6,31300,2024,General_Fund_BAL_ASSE_CURR_Temporary_investments,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,00200,00100,General Fund,Balance,Assets,Current Assets,Temporary Investments,2024,31,1.87
7,31300,2024,General_Fund_BAL_ASSE_CURR_Total_current_asset...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,01100,00100,General Fund,Balance,Assets,Current Assets,Total Current Assets,2024,31,12.31
8,31300,2024,General_Fund_BAL_ASSE_FIXE_Accumulated_depreci...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,01400,00100,General Fund,Balance,Assets,Fixed Assets,Accumulated Depreciation,2024,31,-0.31
9,31300,2024,General_Fund_BAL_ASSE_FIXE_Accumulated_depreci...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,01600,00100,General Fund,Balance,Assets,Fixed Assets,Accumulated Depreciation,2024,31,-10.86
10,31300,2024,General_Fund_BAL_ASSE_FIXE_Accumulated_depreci...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,02400,00100,General Fund,Balance,Assets,Fixed Assets,Accumulated Depreciation,2024,31,-10.58
11,31300,2024,General_Fund_BAL_ASSE_FIXE_Buildings,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,01500,00100,General Fund,Balance,Assets,Fixed Assets,Buildings,2024,31,21.76
12,31300,2024,General_Fund_BAL_ASSE_FIXE_Land_,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,01200,00100,General Fund,Balance,Assets,Fixed Assets,Land,2024,31,1.92
13,31300,2024,General_Fund_BAL_ASSE_FIXE_Land_improvements,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,01300,00100,General Fund,Balance,Assets,Fixed Assets,Land Improvements,2024,31,0.56
14,31300,2024,General_Fund_BAL_ASSE_FIXE_Major_movable_equip...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,02300,00100,General Fund,Balance,Assets,Fixed Assets,Major Movable Equipment,2024,31,15.58
15,31300,2024,General_Fund_BAL_ASSE_FIXE_Total_fixed_assets_...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,03000,00100,General Fund,Balance,Assets,Fixed Assets,Total Fixed Assets,2024,31,18.06
16,31300,2024,General_Fund_BAL_ASSE_OTHE_Investments,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,03100,00100,General Fund,Balance,Assets,Other Assets,Investments,2024,31,0.44
17,31300,2024,General_Fund_BAL_ASSE_OTHE_Other_assets,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,03400,00100,General Fund,Balance,Assets,Other Assets,Other Assets,2024,31,1.12
18,31300,2024,General_Fund_BAL_ASSE_OTHE_Total_assets_sum_of...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,03600,00100,General Fund,Balance,Assets,Other Assets,Total Assets,2024,31,31.93
19,31300,2024,General_Fund_BAL_ASSE_OTHE_Total_other_assets_...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,03500,00100,General Fund,Balance,Assets,Other Assets,Total Other Assets,2024,31,1.56
20,31300,2024,General_Fund_BAL_FUND_CAPI_General_fund_balance,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,05200,00100,General Fund,Balance,Fund Balances,Long term Liabilities,General Fund Balance,2024,31,6.63
21,31300,2024,General_Fund_BAL_FUND_CAPI_Total_fund_balances_,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,05900,00100,General Fund,Balance,Fund Balances,Capital Accounts,Total Fund Balances,2024,31,6.63
22,31300,2024,General_Fund_BAL_FUND_CAPI_Total_liabilities_a...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,06000,00100,General Fund,Balance,Fund Balances,Capital Accounts,Total Liabilities And Fund Balances,2024,31,31.93
23,31300,2024,General_Fund_BAL_LIAB_CURR_Accounts_payable,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,03700,00100,General Fund,Balance,Liabilities,Current Liabilities,Accounts Payable,2024,31,4.94
24,31300,2024,General_Fund_BAL_LIAB_CURR_Notes_and_loans_pay...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,04000,00100,General Fund,Balance,Liabilities,Current Liabilities,Notes And Loans Payable (Short Term),2024,31,2.24
25,31300,2024,General_Fund_BAL_LIAB_CURR_Other_current_liabi...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,04400,00100,General Fund,Balance,Liabilities,Current Liabilities,Other Current Liabilities,2024,31,1.42
26,31300,2024,General_Fund_BAL_LIAB_CURR_Salaries_wages_and_...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,03800,00100,General Fund,Balance,Liabilities,Current Liabilities,"Salaries, Wages, And Fees Payable",2024,31,1.13
27,31300,2024,General_Fund_BAL_LIAB_CURR_Total_current_liabi...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,04500,00100,General Fund,Balance,Liabilities,Current Liabilities,Total Current Liabilities,2024,31,9.73
28,31300,2024,General_Fund_BAL_LIAB_LONG_Notes_payable,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,04700,00100,General Fund,Balance,Liabilities,Long term Liabilities,Notes Payable,2024,31,13.18
29,31300,2024,General_Fund_BAL_LIAB_LONG_Other_long_term_lia...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,04900,00100,General Fund,Balance,Liabilities,Long term Liabilities,Other Long Term Liabilities,2024,31,2.39
30,31300,2024,General_Fund_BAL_LIAB_LONG_Total_liabilities_s...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,05100,00100,General Fund,Balance,Liabilities,Long term Liabilities,Total Liabilities,2024,31,25.30
31,31300,2024,General_Fund_BAL_LIAB_LONG_Total_long_term_lia...,NaN,2,1,01/01/2024,2024-12-31,5901,G000000,05000,00100,General Fund,Balance,Liabilities,Long term Liabilities,Total Long Term Liabilities,2024,31,15.57

## 2Ô∏è‚É£ Fund Balance Changes

In [8]:
def get_fund_balance_changes(ccn, year):
    """Get fund balance changes for a specific hospital and year"""
    con = duckdb.connect(':memory:')
    
    df = con.execute(f"""
        SELECT
            Acc_level1 as Category,
            Acc_level2 as Subcategory,
            Acc_name as Account,
            Line as Line_Number,
            Value
        FROM read_parquet('{FUND_BALANCE_CHANGES_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
            AND Fiscal_Year = ?
        ORDER BY Line
    """, [int(ccn), int(year)]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No fund balance changes data found for CCN {ccn}, Year {year}")
        return None
    
    # Convert to millions
    df['Value ($ Millions)'] = df['Value'].apply(format_millions)
    df = df.drop('Value', axis=1)
    
    return df

# Get and display fund balance changes
fund_changes = get_fund_balance_changes(ccn_dropdown.value, year_dropdown.value)

if fund_changes is not None:
    print(f"\nüíº Fund Balance Changes")
    print(f"CCN: {ccn_dropdown.value} | Fiscal Year: {year_dropdown.value}")
    print(f"Note: All amounts in millions (USD)")
    print(f"Total records: {len(fund_changes):,}\n")
    display(style_dataframe(fund_changes))

üíº Fund Balance Changes
CCN: 31300 | Fiscal Year: 2024
Note: All amounts in millions (USD)
Total records: 7

## 3Ô∏è‚É£ Revenue Detail

In [9]:
def get_revenue(ccn, year):
    """Get revenue detail for a specific hospital and year"""
    con = duckdb.connect(':memory:')
    
    df = con.execute(f"""
        SELECT
            Revenue_Group as Revenue_Category,
            Revenue_Subgroup as Revenue_Subcategory,
            Revenue_Center,
            Revenue_Line_Name as Account,
            Line as Line_Number,
            Value
        FROM read_parquet('{REVENUE_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
            AND Fiscal_Year = ?
        ORDER BY Line
    """, [int(ccn), int(year)]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No revenue data found for CCN {ccn}, Year {year}")
        return None
    
    # Convert to millions
    df['Value ($ Millions)'] = df['Value'].apply(format_millions)
    df = df.drop('Value', axis=1)
    
    return df

# Get and display revenue
revenue = get_revenue(ccn_dropdown.value, year_dropdown.value)

if revenue is not None:
    print(f"\nüí∞ Revenue Detail")
    print(f"CCN: {ccn_dropdown.value} | Fiscal Year: {year_dropdown.value}")
    print(f"Note: All amounts in millions (USD)")
    print(f"Total records: {len(revenue):,}\n")
    display(style_dataframe(revenue))

üí∞ Revenue Detail
CCN: 31300 | Fiscal Year: 2024
Note: All amounts in millions (USD)
Total records: 19

## 4Ô∏è‚É£ Revenue & Expenses Statement

In [10]:
def get_revenue_expenses(ccn, year):
    """Get revenue & expenses statement for a specific hospital and year"""
    con = duckdb.connect(':memory:')
    
    df = con.execute(f"""
        SELECT
            RE_Report as Report_Section,
            RE_Level as Level,
            RE_Account as Account_Type,
            RE_Line_Name as Account,
            Line as Line_Number,
            Value
        FROM read_parquet('{REVENUE_EXPENSES_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
            AND Fiscal_Year = ?
        ORDER BY Line
    """, [int(ccn), int(year)]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No revenue & expenses data found for CCN {ccn}, Year {year}")
        return None
    
    # Convert to millions
    df['Value ($ Millions)'] = df['Value'].apply(format_millions)
    df = df.drop('Value', axis=1)
    
    return df

# Get and display revenue & expenses
revenue_expenses = get_revenue_expenses(ccn_dropdown.value, year_dropdown.value)

if revenue_expenses is not None:
    print(f"\nüìà Revenue & Expenses Statement")
    print(f"CCN: {ccn_dropdown.value} | Fiscal Year: {year_dropdown.value}")
    print(f"Note: All amounts in millions (USD)")
    print(f"Total records: {len(revenue_expenses):,}\n")
    display(style_dataframe(revenue_expenses))

üìà Revenue & Expenses Statement
CCN: 31300 | Fiscal Year: 2024
Note: All amounts in millions (USD)
Total records: 12

## 5Ô∏è‚É£ Cost Summary (from B100)

In [11]:
def get_cost_summary(ccn, year):
    """Get cost summary from B100 (total costs by cost center)"""
    con = duckdb.connect(':memory:')
    
    df = con.execute(f"""
        SELECT
            CAST(Line AS INTEGER) as Line_Number,
                     \"Column\", 
            CAST(\"Column\" AS INTEGER) as Column_Number,
            Account_group as Cost_Category,
            Account_name as Cost_Center,
            Value
        FROM read_parquet('{COSTS_B100_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
            AND Fiscal_Year = ?
            AND CAST(Line AS INTEGER) >= 3000
            AND CAST(Line AS INTEGER) <= 20200
            --AND CAST(\"Column\" AS INTEGER) = 2600
            AND \"Column\" = '00000'
        ORDER BY CAST(Line AS INTEGER)
    """, [int(ccn), int(year)]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No cost summary data found for CCN {ccn}, Year {year}")
        return None
    
    # Convert to millions
    df['Value ($ Millions)'] = df['Value'].apply(format_millions)
    df = df.drop('Value', axis=1)
    
    return df

# Get and display cost summary
cost_summary = get_cost_summary(ccn_dropdown.value, year_dropdown.value)

if cost_summary is not None:
    print(f"\nüí∏ Cost Summary")
    print(f"CCN: {ccn_dropdown.value} | Fiscal Year: {year_dropdown.value}")
    print(f"Note: All amounts in millions (USD)")
    print(f"Total records: {len(cost_summary):,}\n")
    display(style_dataframe(cost_summary))

üí∏ Cost Summary
CCN: 31300 | Fiscal Year: 2024
Note: All amounts in millions (USD)
Total records: 72

In [12]:
def get_cost_summary(ccn, year):
    """Get cost summary from B100 (total costs by cost center)"""
    con = duckdb.connect(':memory:')
    
    df = con.execute(f"""
        SELECT
            *
        FROM read_parquet('{COSTS_B100_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
            AND Fiscal_Year = ?
    """, [int(ccn), int(year)]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No cost summary data found for CCN {ccn}, Year {year}")
        return None
    
    # Convert to millions
    df['Value ($ Millions)'] = df['Value'].apply(format_millions)
    df = df.drop('Value', axis=1)
    
    return df

# Get and display cost summary
cost_summary = get_cost_summary(ccn_dropdown.value, year_dropdown.value)

cost_summary

,Provider_Number,Year,NPI,Control_Type,Report_Status,FY_Begin,FY_End,Geographic_Code,Worksheet,Line,Column,Account_group,Account_name,Overhead_center,Fiscal_Year,State_Code,Value ($ Millions)
0,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,00100,00000,General Service Cost Centers,New Capital Buildings and Fixtures,Net Expenses,2024,31,1.10
1,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,00100,00100,None,None,None,2024,31,1.10
2,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,00200,00000,General Service Cost Centers,New Capital Equipment,Net Expenses,2024,31,1.60
3,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,00200,00200,None,None,None,2024,31,1.60
4,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,00400,00000,General Service Cost Centers,Employee Benefits,Net Expenses,2024,31,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,20200,01400,None,None,None,2024,31,0.34
1414,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,20200,01500,None,None,None,2024,31,2.70
1415,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,20200,01600,None,None,None,2024,31,1.24
1416,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,20200,02400,None,None,None,2024,31,44.60
1417,31300.00,2024.00,NaN,2.00,1.00,01/01/2024,2024-12-31,5901.00,B000001,20200,02600,None,None,None,2024,31,44.60

## 6Ô∏è‚É£ Detailed Costs (with Salary, Direct, and Overhead breakdown)

In [13]:
def get_detailed_costs(ccn, year):
    """Get detailed costs with salary, other direct, and overhead breakdown"""
    con = duckdb.connect(':memory:')
    
    query = f"""
    WITH
    -- Get A000 data and calculate totals
    a000_data AS (
        SELECT
            Provider_Number,
            Fiscal_Year,
            CAST(Line AS INTEGER) as Line,
            Account_name,
            MAX(CASE WHEN \"Column\" = '00100' THEN Value ELSE 0 END) as Col_100,
            MAX(CASE WHEN \"Column\" = '00200' THEN Value ELSE 0 END) as Col_200,
            MAX(CASE WHEN \"Column\" = '00400' THEN Value ELSE 0 END) as Col_400,
            MAX(CASE WHEN \"Column\" = '00600' THEN Value ELSE 0 END) as Col_600
        FROM read_parquet('{COSTS_A000_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
          AND Fiscal_Year = ?
          AND CAST(Line AS INTEGER) >= 3000
          AND CAST(Line AS INTEGER) <= 20200
        GROUP BY Provider_Number, Fiscal_Year, CAST(Line AS INTEGER), Account_name
    ),
    a000_calc AS (
        SELECT
            *,
            (Col_100 + Col_200 + Col_400 + Col_600) as Col_700,
            CASE
                WHEN (Col_100 + Col_200) > 0
                THEN (Col_100 + Col_200 + Col_400 + Col_600) * (Col_100 / (Col_100 + Col_200))
                ELSE 0
            END as Salary,
            CASE
                WHEN (Col_100 + Col_200) > 0
                THEN (Col_100 + Col_200 + Col_400 + Col_600) * (Col_200 / (Col_100 + Col_200))
                ELSE 0
            END as Other_Direct
        FROM a000_data
    ),
    -- Get B100 overhead data
    b100_data AS (
        SELECT
            Provider_Number,
            Fiscal_Year,
            CAST(Line AS INTEGER) as Line,
            MAX(CASE WHEN \"Column\" = '00100' THEN Value ELSE 0 END) as OH_Col_100,
            MAX(CASE WHEN \"Column\" = '00200' THEN Value ELSE 0 END) as OH_Col_200,
            MAX(CASE WHEN \"Column\" = '00400' THEN Value ELSE 0 END) as OH_Col_400,
            MAX(CASE WHEN \"Column\" = '00500' THEN Value ELSE 0 END) as OH_Col_500,
            MAX(CASE WHEN \"Column\" = '02600' THEN Value ELSE 0 END) as OH_Col_2600
        FROM read_parquet('{COSTS_B100_PATH}', hive_partitioning=1)
        WHERE Provider_Number = ?
          AND Fiscal_Year = ?
          AND CAST(Line AS INTEGER) >= 3000
          AND CAST(Line AS INTEGER) <= 20200
        GROUP BY Provider_Number, Fiscal_Year, CAST(Line AS INTEGER)
    ),
    b100_calc AS (
        SELECT
            *,
            (OH_Col_100 + OH_Col_200) as Bldg_Equipment,
            OH_Col_400 as Employee_Benefits,
            OH_Col_500 as Admin_General,
            (OH_Col_2600 - OH_Col_100 - OH_Col_200 - OH_Col_400 - OH_Col_500) as Other_Overhead
        FROM b100_data
    )
    -- Join and combine all data
    SELECT
        COALESCE(a.Line, b.Line) as Line_Number,
        a.Account_name as Cost_Center,
        a.Salary,
        a.Other_Direct,
        b.Bldg_Equipment,
        b.Employee_Benefits,
        b.Admin_General,
        b.Other_Overhead,
        (COALESCE(a.Salary, 0) + COALESCE(a.Other_Direct, 0) +
         COALESCE(b.Bldg_Equipment, 0) + COALESCE(b.Employee_Benefits, 0) +
         COALESCE(b.Admin_General, 0) + COALESCE(b.Other_Overhead, 0)) as Total_Cost
    FROM a000_calc a
    FULL OUTER JOIN b100_calc b
        ON a.Provider_Number = b.Provider_Number
        AND a.Fiscal_Year = b.Fiscal_Year
        AND a.Line = b.Line
    ORDER BY Line_Number
    """
    
    df = con.execute(query, [int(ccn), int(year), int(ccn), int(year)]).df()
    
    con.close()
    
    if df.empty:
        print(f"‚ö†Ô∏è No detailed costs data found for CCN {ccn}, Year {year}")
        return None
    
    # Convert all numeric columns to millions
    for col in ['Salary', 'Other_Direct', 'Bldg_Equipment', 'Employee_Benefits', 'Admin_General', 'Other_Overhead', 'Total_Cost']:
        if col in df.columns:
            df[f'{col} ($M)'] = df[col].apply(format_millions)
            df = df.drop(col, axis=1)
    
    return df

# Get and display detailed costs
detailed_costs = get_detailed_costs(ccn_dropdown.value, year_dropdown.value)

if detailed_costs is not None:
    print(f"\nüìä Detailed Costs (with Salary, Direct, and Overhead breakdown)")
    print(f"CCN: {ccn_dropdown.value} | Fiscal Year: {year_dropdown.value}")
    print(f"Note: All amounts in millions (USD)")
    print(f"Total records: {len(detailed_costs):,}\n")
    display(style_dataframe(detailed_costs))

üìä Detailed Costs (with Salary, Direct, and Overhead breakdown)
CCN: 31300 | Fiscal Year: 2024
Note: All amounts in millions (USD)
Total records: 39

## 7Ô∏è‚É£ Export to Excel (Optional)

In [14]:
def export_to_excel(ccn, year, fund_type='General Fund'):
    """Export all financial reports to Excel file"""
    filename = f"Financial_Reports_CCN{ccn}_FY{year}_Parquet.xlsx"
    
    with pd.ExcelWriter(filename, engine='openpyxl') as writer:
        # Balance Sheet
        bs = get_balance_sheet(ccn, year, fund_type)
        if bs is not None:
            bs.to_excel(writer, sheet_name='Balance Sheet', index=False)
        
        # Fund Balance Changes
        fbc = get_fund_balance_changes(ccn, year)
        if fbc is not None:
            fbc.to_excel(writer, sheet_name='Fund Balance Changes', index=False)
        
        # Revenue
        rev = get_revenue(ccn, year)
        if rev is not None:
            rev.to_excel(writer, sheet_name='Revenue', index=False)
        
        # Revenue & Expenses
        re = get_revenue_expenses(ccn, year)
        if re is not None:
            re.to_excel(writer, sheet_name='Revenue & Expenses', index=False)
        
        # Cost Summary
        cs = get_cost_summary(ccn, year)
        if cs is not None:
            cs.to_excel(writer, sheet_name='Cost Summary', index=False)
        
        # Detailed Costs
        dc = get_detailed_costs(ccn, year)
        if dc is not None:
            dc.to_excel(writer, sheet_name='Detailed Costs', index=False)
    
    print(f"‚úì Exported to {filename}")
    return filename

# Uncomment to export:
# export_to_excel(ccn_dropdown.value, year_dropdown.value, fund_dropdown.value)